@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

.backgroundImage {
    background-position-x: 33.33%;
    background-position-y:  150px;
    background-size: calc(55vh - 50px);
    background-image: url("../src/assets/Logos/devil-bean-cream.png");
    background-repeat: no-repeat;
    padding-bottom: calc(40vh - 50px);
    background-attachment: fixed;
  }
  
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #dbcec1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}


.form-style {
  background-color: #f2e8da;
  color: #210202;
}
